<div class="game_window">


  <div id='sign_up'>
    <%= form_for @user, url: login_path, method: :post do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <%= f.submit 'Log In', :id => "log_in_button"%>
    <% end %>
  </div>

  <% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

</div>
