

<div class="game_window">
  <img id='char_img' src="<%= @character.image_url %>" alt="">

  <ul id="character_info">
    <li class="category">Name: <%= @character.name %></li>
    <li class="category">Height: <%= @character.height %> in.</li>
    <li class="category">Weight: <%= @character.weight %> lbs.</li>
    <li class="category">Speed: <%= @character.speed %> </li>
    <li class="category">Strength: <%= @character.strength %></li>
  </ul>
</div>
