<h2>Name: </h2>
<h3><%= @character.name %></h3><br>
<h2>Height: </h2>
<h3><%= @character.height %></h3><br>
<h2>Weight: </h2>
<h3><%= @character.weight %></h3><br>
<h2>Speed: </h2>
<h3><%= @character.speed %></h3><br>
<h2>Strength: </h2>
<h3><%= @character.strength %></h3><br>
<h2>Health: </h2>
<h3><%= @character.health %></h3><br>
<br>
<img src=" <%= @character.image_url %>" alt="">
