
<p>Battle Outcome:</p>
<p><%=@battle.get_player_character.name%> used <%= @battle.attack %>.</p>

<p><%=@battle.get_enemy_character.name%> used <%= @battle.enemy_move %>.</p>

<br><br>

<p>Player character: </p>

<%= @battle.get_player_character.name %><br>
Health: <%= @battle.get_player_character.health %><br>

<br>

<p>Enemy character: </p>

<%= @battle.get_enemy_character.name %><br>
Health: <%= @battle.get_enemy_character.health %><br>


<br>
<br>



<% if @battle.determine_winner %>
  <%= link_to "Game over!", "/games/#{@battle.game_id}"%>
<% else %>
  <%= link_to "Next round", "/round1/#{@battle.game_id}"%>
<% end %>
