<%= @battle.get_user.wins  %>
<%= @battle.get_user.losses  %>
<%= @battle.get_user.name %>

<p>Player character: </p>
<%= @battle.get_player_character.name %><br>
<%= @battle.get_player_character.health %><br>
<p>Enemy character: </p>
<%= @battle.get_enemy_character.name %><br>
<%= @battle.get_enemy_character.health %><br>


<p>Battle Outcome</p>
<p><%=@battle.get_player_character.name%> used <%= @battle.attack %>.</p>
<%= @battle.get_player_character.health %><br>

<p><%=@battle.get_enemy_character.name%> used <%= @battle.get_enemy_move %>.</p>
<%= @battle.get_enemy_character.health %><br>



<% if @battle.determine_winner %>
  <%= link_to "Game over!", "/games/#{@battle.game_id}"%>
<% else %>
  <%= link_to "Next round", "/round1/#{@battle.game_id}"%>
<% end %>
